.button {
   -fx-background-color: linear-gradient(to right, red, blue);
   -fx-text-fill: white;
}


.root{
-fx-font-family : "Verdana";
-fx-background-color: Tomato;
}

.label{
-fx-font-family : "Verdana";

}